<?php
foreach($this->countblock() as $data){
        echo  'IP ->  '. $data->getData('ip') . ' <br/>' . 'VIEWS ->' . $data->getData('views') . ' <br/>' . 'LAST TIME -> ' . $data->getData('last_time').'<br/>' ;
    }
die('die');
echo 'hren';
echo 'hre2';